# <CENTER>**COURSERA CAPSTONE PROJECT**

<Center> This notebook will be used for completing the Capestone project prescribed by Coursera and same will be used for submission of the project.

In [2]:
#Importing all the libraries
import pandas as pd
import numpy as np

In [3]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

<center>Segmenting and Clustering Neighborhoods in Toronto

In [4]:
#The data fram will consist of three columns: Postal Code, Borough, and Neighborhood pharsed from Wikipedia

df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [5]:
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [9]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

df = df[~df.Borough.str.contains("Not assigned")].reset_index(drop = 'true')

In [10]:
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [11]:
#replace back slashes '/' with comma ','

df['Neighborhood']= df.Neighborhood.str.replace('/',',')

In [12]:
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [13]:
#To show that all postal codes are Unique, value_counts() has been called as all values ae only once there. All postal code are unique.
df['Postal code'].value_counts()

M4K    1
M1W    1
M6N    1
M4S    1
M5M    1
      ..
M1S    1
M4M    1
M5N    1
M2L    1
M6K    1
Name: Postal code, Length: 103, dtype: int64

In [15]:
#To Check whether Neighborhood has empty rows

df['Neighborhood'].isnull().sum()

0

In [16]:
#The shape of the dataframe

df.shape

(103, 3)